body {
  background-color: #eaf6f6;
}

hr {
  background-color: white;
  border-style: dotted none none;
  border-color: grey;
  border-width: 1px;

}
body{
  margin: 0;
  margin-left:0;
  margin-right:0;
}
h1{
  color: #f76b8a;
  margin-top: 0;
  margin-left:0;
  margin-right:0;
}

h3{
  color: #f76b8a;
}
